body{
    background-color: aquamarine;
    color: white;
    font-family: "bai janjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: lightgreen;
    color: white;
    font-family: "bai jamjuree", sans-serif ;
}